{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <h2>Welcome to the Library</h2>
    <p>This is the home page of the library management system.</p>
    <div class="home-buttons">
        <a class="button" href="{% url 'list' 'book' %}">View Books</a>
        <a class="button" href="{% url 'list' 'author' %}">View Authors</a>
        <a class="button" href="{% url 'list' 'reader' %}">View Readers</a>
        <a class="button" href="{% url 'list' 'loan' %}">View Loans</a>
    </div>
</div>
{% endblock %}