{% extends "base.html" %}
{% load custom_templates %}

{% block title %}{{ model_name }} List{% endblock %}

{% block content %}
<h2>{{ model_name }} List</h2>
<table>
    <thead>
        <tr>
            {% for field in field_names %}
            <th>{{ field|beautify }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            {% for field in field_names %}
            <td>{{ item|getatt:field }}</td>
            {% endfor %}
            <td>
                <a href="{% url 'detail' model_name|lower item.id %}">View</a>
                <a href="{% url 'update' model_name|lower item.id %}">Edit</a>
                <a href="{% url 'delete' model_name|lower item.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'create' model_name|lower %}">Add New {{ model_name }}</a>
{% endblock %}
